<footer class="border-top">
    <div class="f-social">
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <p class="f-info">&copy;WanderLust Private Limited</p>
    <div class="f-options">
        <a href="">Privacy </a>&cir;&nbsp;
        <a href="">Terms </a>&cir;&nbsp;
        <a href=""> Compay Details</a>
    </div>
    
</footer>