<% layout('./includes/boilerplate') -%>
<form method="post" action="/user/login" novalidate class="needs-validation">
        
    <div class="row">
        
        <div class="col-6 offset-3">
            <h2>Login into WanderLust</h2><br>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username"  class="form-control" id="username" required>
                <div class="invalid-feedback">Invalid Username</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password"  class="form-control" id="password" required>
                <div class="invalid-feedback">Enter Password</div>
            </div><br>
            <button class="btn btn-primary form-btn" type="submit">Sign Up</button>
        </div>
    </div>
</form>